.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.chartContainer {
    display: flex;
    margin: 10px 0;
    flex: 2;
}

.pickerContainer {
    flex: 1;
}