:root {
  --bg-color: #323232;
  --primary-color: #316a6d;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #fff;
  background-color: var(--bg-color);
}

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}
